<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edycja profilu</title>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />

</head>
<body th:style="'background-color: #2C4A36'">
<nav
        class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">

    <div class="flex-fill">
        <h2>FEEDBACK</h2>
    </div>
    <a class="navbar-brand" href="/student/profile">Mój profil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Testy <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Rozmowy <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Kurs <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/student/projects">Projekty <span class="sr-only">(current)</span></a>
        </li>
    </ul>

    <div class="ml-5">
        <strong>Zalogowany użytkownik:</strong> <span
            th:text="${#authentication.getPrincipal().getUsername()}"></span> <a
            href="/logout"><button type="button" class="btn btn-primary">WYLOGUJ</button></a>
    </div>

</nav>


<div class="page">
    <div class="container list pt-3 pb-3 form mt-2">

        <h3>Edycja projektu</h3>

        <form action="#" th:action="@{/project/save}"
              th:object="${project}" method="POST">

            <input type="hidden" th:field="*{id}" />
            <div class="row">
                <div class="col">
                     Nazwa: <input th:field="*{name}"
                                  type="text" class="form-control col-10">
                    <span
                            th:if="${#fields.hasErrors('name')}" class="errorField"
                            th:errors="*{name}"/></div>

                <div class="col">Opis: <input type="text" th:field="*{description}"
                                               class="form-control col-10">
                    <span
                            th:if="${#fields.hasErrors('description')}" class="errorField"
                            th:errors="*{description}"/></div>

            </div>
            <div class="row">

                    <div class="col">
                       Link: <input type="text" th:field="*{link}"
                                       class="form-control col-10">
                        <span
                                th:if="${#fields.hasErrors('link')}" class="errorField"
                                th:errors="*{link}"/>
                    </div>
                    <div class="col">
                Technologie: <input
                    type="text" th:field="*{technologies}"
                    class="form-control col-10">
                        <span
                                th:if="${#fields.hasErrors('technologies')}" class="errorField"
                                th:errors="*{technologies}"/>
                    </div>
            </div>



            <button type="submit" class="btn btn-info col-2 mt-2">Zapisz</button>
            <a th:href="@{/student/projects}" class="btn btn-danger col-2 mt-2">Anuluj</a>
        </form>
    </div>
</div>
</body>

</HTML>